{
    "presets": [
        "@babel/preset-typescript",
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ".",
                "alias": {
                    "@constants": "./src/constants",
                    "@services": "./src/services",
                    "@modules/user": "./src/modules/user",
                    "@modules/blog": "./src/modules/blog"
                }
            }
        ]
    ]
}