{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "@constants": "./src/constants",
          "@config": "./src/config",
          "@services": "./src/services",
          "@controllers/user": "./src/controllers/user",
          "@controllers/blog": "./src/controllers/blog",
          "@controllers/authentication": "./src/controllers/authentication",
          "@middlewares": "./src/middlewares"
        }
      }
    ]
  ]
}